*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url('../images/image-hero.jpg');
    background-size: cover;
    height: 60vh;
}
.container{
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
}
.navbar ul li a{
    text-decoration: none;
    padding-left: 25px;
    color: white;
}
.navbar ul {
    list-style: none;
    display: flex;
}
h1{
    border: 1px white solid;
    font-size: 50px;
    display: inline-block;
    margin-left: 79px;
    margin-top: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    color: white;
}
.middle{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
.pic img{
    width: 500px;
}
.write{
    position: relative;
    right: 100px;
    top: 80px;
    border: 1px transparent solid;
    height: 40vh;
    padding: 50px ;
    background-color: white;
}
h2{
    text-transform: uppercase;
    font-size: 30px;
    color: grey;
    padding-bottom: 20px;
}
.write p{
    color: grey;
}
.showcase{
    margin-top: 70px;
}
.show{
    display: flex;  
    justify-content: space-between;
    padding: 20px 80px; 
}
h3{
    font-size: 25px;
    color: grey;
}
.btn{
    border: 1px grey solid;
    padding: 8px 20px;
    background-color: white;
    border-radius: 5px;
}
.cases{
    display: flex;
    width: 90%;
    margin: auto;
}
.casing{
    display: flex;
    width: 90%;
    margin: auto;
}
.case1 span{
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
    font-size: 20px;
}
.case2 span {
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
    font-size: 20px;
}
.case3 span {
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
    font-size: 20px;
}
.case4 span {
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
    font-size: 20px;
}
.case5 span {
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
    font-size: 20px;
}
.case6 span {
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
    font-size: 20px;
}
.case7 span {
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
    font-size: 20px;
}
.case8 span {
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
    font-size: 20px;
}
.showcase img{
    width: 320px;
    height: 60vh;
    padding-left: 10px;
}
footer{
    background-color: black;
    color: white;
    margin-top: 30px;
}
.end{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}
.navs ul{
    list-style: none;
}
.navs ul li a{
    text-decoration: none;
    color: aliceblue;
}
.icons{
    display: flex;
    margin-right: 20px;
}
h6{
    font-size: 15px;
    margin-top: 19px;
}
.one, .two, .three, .four{
    margin-left: 10px;
}